{% extends 'base.html.twig' %}

{% block title %}Index!{% endblock %}

{% block body %}
  <div class="map__building">
    <div class="map__container" id="container1"></div> 
    <div class="map__container" id="container2"></div> 
    <div class="map__container" id="container3"></div> 
    <div class="map__container" id="container4"></div> 
    <div class="map__container" id="container5"></div>
    <div class="map__loader" id="Loader1"></div>
    <div class="map__loader" id="Loader2"></div>
  </div>
{% endblock %}